<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="conString" value="Data Source=DESKTOP-RS0OKI5\MSSQLSERVER1;Initial Catalog=pastor;Integrated Security=True;"/>
    <add key="urlBase" value="http://lapastoriza.desarrollorusoft.com.ar"/>
  </appSettings>
</configuration>